*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.idea_modules
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
**/.cache
**/.classpath
**/.project
**/.settings
**/.classpath
.really
really-io/.really
really-core/.really
# Scala-IDE specific
.scala_dependencies
.worksheet
*.sc

# really-docs specific
really-docs/target
