*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.idea_modules
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
really-core/.cache
really-core/.classpath
really-core/.project
really-core/.settings
really-io/.classpath
really-io/.project
really-io/.settings
# Scala-IDE specific
.scala_dependencies
.worksheet
*.sc
